@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --font-sans: "LXGW WenKai";
    --font-mono: "Maple Mono", "Maple Mono NF", "Maple Mono NF CN";
    --font-heading: "Smiley Sans";

    --tw-prose-pre-code: inherit;
    --tw-prose-pre-bg: inherit;
}

@utility prose {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-heading;
    }
}
